.Button_container{

    margin-right: 20px;
    background-color: white;
    /* height: 90px; */
    /* width: 100px; */
    border-radius: 12px;
    text-align: center;
    padding: 25px 40px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    }